.user {
  display: flex;
  gap: 50px;
  padding: 15px;
  height: 100px;
}

.userList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 300px;
}

.userAvatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  width: 70px;
  padding: 15px;
  gap: 10px;
}

.locationBlock {
  margin-top: 30px;
}

.nameBlock {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 130px;
}

.userInfo {
  display: flex;
  gap: 200px;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 15px;
  width: 400px;
}

.followBtn {
  width: 70px;
  padding: 0;
  background-color: #000;
  color: #fff;
}


.paginationButtons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 7px;
}

.button {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
}

.pickedButton {
  background-color: yellow;
}

.showMoreButton {
  width: 400px;
  margin-top: 100px;
  margin-left: 100px;
  height: 50px;
  border: 0;
  background-color: antiquewhite;
  border-radius: 5px;
}