.user {
  display: flex;
  border-bottom: 1px solid rgba(111, 117, 120, 0.4);
}

.userList {
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
  width: calc(100% - 30px);
  border-radius: 10px;
  background-color: #fff;
}

.userAvatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.locationBlock {
  margin-top: 30px;
}

.nameBlock {
  display: flex;
  flex-direction: column;
}

.nameBlock a {
  color: #000;
  text-decoration: none;
}

.userInfo {
  display: flex;
  gap: 200px;
  padding: 15px;
  width: 100%;
}

.followBtn {
  width: 90px;
  height: 25px;
  border-radius: 5px;
  padding: 0;
  background-color: rgb(36, 164, 211);
  border-color: rgb(36, 164, 211);
  cursor: pointer;
  color: #fff;
}

.showMoreButton {
  width: calc(100% - 20px);
  max-width: 400px;
  margin: 50px auto 25px auto;
  height: 50px;
  border: 0;
  background-color: rgb(36, 164, 211);
  border-radius: 5px;
}

.backTop {
  width: calc(100% - 20px);
  max-width: 400px;
  margin: 0 auto 25px auto;
  height: 50px;
  border: 0;
  background-color: rgb(36, 164, 211);
  border-radius: 5px;
}

.userStatus {
  margin-top: 73px;
}