.user {
  display: flex;
  gap: 50px;
  padding: 15px;
  height: 100px;
}

.userList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 0 50px 0;
  width: 100%;
}

.userAvatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  width: 70px;
  padding: 15px;
  gap: 10px;
}

.locationBlock {
  margin-top: 30px;
}

.nameBlock {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 130px;
}

.userInfo {
  display: flex;
  gap: 200px;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  background-color: #fff;
}

.followBtn {
  width: 70px;
  padding: 0;
  background-color: #000;
  color: #fff;
}

.showMoreButton {
  width: calc(100% - 20px);
  max-width: 400px;
  margin: 50px auto 25px auto;
  height: 50px;
  border: 0;
  background-color: rgb(36, 164, 211);
  border-radius: 5px;
}

.backTop {
  width: calc(100% - 20px);
  max-width: 400px;
  margin: 0 auto 25px auto;
  height: 50px;
  border: 0;
  background-color: rgb(36, 164, 211);
  border-radius: 5px;
}