.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.nameBlock a {
    color: #000;
    text-decoration: none;
}

.nameBlock {
    padding: 10px;
}

.nameBlock .activeLink {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}